.full-st0 {
	fill: #ffffff;
	stroke: #d76fd2;
    stroke-miterlimit: 10;
    position: absolute;
    z-index: 1;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    transform-origin: 50% 50%;
    stroke-width: 2;
    animation: stroke-animate 1.5s linear forwards;
}

.full-st0.active {
    fill: #d76fd2;
    stroke: #ffffff;
}

@keyframes stroke-animate {
    0% {
        stroke-dasharray: 2000;
        stroke-dashoffset: 2000;
    }

    100% {
        stroke-dasharray: 2000;
        stroke-dashoffset: 0;
    }
}

.full-st0:hover {
    fill: #d76fd2;
    stroke: #ffffff;
    transform: scale(1.04);
    transition: all 200ms ease-in-out;
}

.full-st0.active:hover {
    stroke: #d76fd2 !important;
    opacity: 0.5 !important;
}

.z-Index-1 {
    display: inline-block;
}
